@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&family=Source+Sans+3:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Source Sans 3', sans-serif;
  color: #0f172a;
  background: #f8fafc;
}

body {
  margin: 0;
}

.font-display {
  font-family: 'Space Grotesk', sans-serif;
}

